@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.navbarsmlinks {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(1, 5, 45);
    gap: 13px;
    padding: 6px;


}

.spacefromright {
    width: 134px;
}

body {
    background-color: #000000;


}

.navbarlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 0, 60);
    width: 100%;

    padding: 10px;
}

.gotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.useraccount {

    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffcf55;
    border-radius: 10px;
    margin-right: 144px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Rajdhani, sans-serif;
    cursor: pointer;
}

.useraccount:hover {
    background-color: #08dadd;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.mainlinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 2;
}

.mlitem {
    padding: 10px;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    cursor: pointer;

}

.mlitem:hover {
    color: #08dadd;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgb(3, 18, 76);
    border-radius: 10px;
}

.vortexlogo {
    padding-left: 230px;
}

#logo {
    position: absolute;
    width: 200px;
    top: 2px;
    left: 95px;
}

.mlitem:hover .dropdownicon {
    color: #08dadd;
    transform: rotate(180deg);
}

.dropdownicon {
    color: white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tournamentsec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-image: linear-gradient(to bottom , #05004d, #00e5ff);
    color: white;
    font-family: Poppins, sans-serif;
}
.boxcontainer{
    width:80%;

    height: 600px;
    /* background-color: rgba(255, 255, 255, 0.105); */
    background-image: url('contentbg.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 44px;
    color: white;
    padding: 30px;
   
}
.insideboxcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  

}
.contentpart1 {
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
}
.contentpart2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
}
.contentpart3 {
    font-size: 16px;
    font-weight: 600;
    color: #173b6c;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    font-family: Rajdhani, sans-serif;

}
.contentpart3:hover {
    background-color: #08dadd;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 7, 50);
    color: rgba(255, 255, 255, 0.919);

    padding: 20px;

    font-family: Poppins, sans-serif;
    /* border: #ffca42 2px solid; */

}
.footermainsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;;
    /* border: #ff009d 2px solid; */
    width: 90%;
    gap: 46px;
}
.footersec1{
    /* border: #00e5ff 2px solid; */
    display: flex;
    flex-direction: column;
    gap:37px;
    width:90%;
 
}
.sec1{
    /* border:#ffca42 2px solid; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: rgb(0, 255, 242);
    

}
.sec2{
    /* border: #ffca42 2px solid; */
    width:400px;
}
.sec3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
 
    /* border: #ffca42 2px solid; */

}

.footlogo{
    position:absolute;
    width: 100%;
    height: 100px;
    left:0;
    /* border: rgb(0, 255, 0) 2px solid; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.footerlogo{
    width:90%;
    height: 100px;
    /* border: red 2px solid; */
    display: flex;
       align-items: center;
    justify-content: center;
   
}
.footerlogoinside{
    /* border: #ffffff 3px solid   ; */
    width: 90%
}

.footerbreakline{
    border-top:#6f7d7e7b 0.1px solid;
    width: 90%;
}

.footerlastsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* border: #ffca42 2px solid; */
}

.footersec2{
    /* border: white 1px solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:90%;
    padding-bottom: 10px;
}

.footsmlinks{
    display:flex ;
    gap: 20px;
}
.flitem{

    cursor: pointer;
}
.flitem:hover{
    color: #08dadd;
    transition: color 0.3s ease-in-out;
    text-decoration: underline  #08dadd ;
}

.navbarmobile {

    background-color: rgb(1, 5, 45);
    color: white;

}
.navbarmobilecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
#logo2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.part1{cursor: pointer;}

.dropdownmenuicon:hover{
    fill:#00fbff
}
.part2 img,
.part3 svg {
    display: block;   /* removes the inline baseline gap */
    vertical-align: middle; 
    /* extra safety */
}

.accounticon:hover {
    fill: #00fbff;
}
.dropdownBoxmainlinks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}
.dropdownBoxsmlinks{
      display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 5, 45);
    gap: 13px;
    padding: 6px;

}


#dropdownBox {
 
    position: absolute;

    left: 0px;
    background-color: rgb(11, 4, 104);
    width: 100%;
    height: 50vh;
    padding: 10px;
    z-index: 1000;
}
.hidden {
    display: none;
}




.hamburger-icon {
  display: flex;
}
.close-icon {
  display: none;
}

.part1.active .hamburger-icon {
  display: none;
}
.part1.active .close-icon {
  display: flex;
}



@media (max-width:1028px){
    .navbar{
        font-size: small;
    }
}
@media (max-width:950px){/*Conditions applied if width lesser than 950px */
    .navbar{display: none;}
    #logo {display:none;}
}
@media (min-width:950px){/*Conditions applied if width greater than 950px */
    .navbarmobile {display: none;}
    .navbar{display: flex;}
    #logo {display: block;}
}
@media (max-width:493px){
    footer{
        font-size: 10px;
    }
    .sec2{width: 260px;}
    .footersec1{
        gap: 20px
    }
    .footermainsection{gap:20px}
}