@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.navbarsmlinks {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(1, 5, 45);
    gap: 13px;
    padding: 6px;


}

.spacefromright {
    width: 134px;
}

body {
    background-color: #000000;


}

.navbarlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(11, 0, 60);
    width: 100%;

    padding: 10px;
}

.gotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.useraccount {

    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffca42;
    border-radius: 14px;
    margin-right: 144px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Rajdhani, sans-serif;
    cursor: pointer;
}

.useraccount:hover {
    background-color: #08dadd;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.mainlinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 2;
}

.mlitem {
    padding: 10px;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    cursor: pointer;

}

.mlitem:hover {
    color: #08dadd;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgb(3, 18, 76);
    border-radius: 10px;
}

.vortexlogo {
    padding-left: 230px;
}

#logo {
    position: absolute;
    width: 200px;
    top: 2px;
    left: 95px;
}

.mlitem:hover .dropdownicon {
    color: #08dadd;
    transform: rotate(180deg);
}

.dropdownicon {
    color: white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tournamentsec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-image: linear-gradient(to bottom , #05004d, #00e5ff);
    color: white;
    font-family: Poppins, sans-serif;
}
.box{
    width:80%;

    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    color: white;
}



